/* 

  ----- 01 TYPOGRAPHY SYSTEM
  - Font Size (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - Font Weights:
  Default: 400
  Medium: 500
  Semi-Bold: 600
  Bold: 700


  - Line Height:
  Default: 1
  Small: 1.05
  Medium: 1.2
  Paragraph Default: 1.6
  Large: 1.8

  - Letter spacing:
  -0.5px
  0.75px

  ----- 02 COLORS
  https://maketintsandshades.com/

  Light green: #7ed56f
  Medium green: #55c57a
  Dark green: #28b485

  - Primary:

  - Tints: 
  
  - Shades: 

  - Accent:

  - Greys: #777, #555, #333, #6f6f6f (lightest grey allowed on #fdf2e9)

  03 IMAGES
  http://unsplash.com
  http://uifaces.co

  ----- 04 SHADOWS

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  ----- 05 BORDER RADIUS
  Default: 10px

  ----- 06 WHITESPACE
  - Spacing (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */

  font-size: 62.5%;

  /* Does not work on Safari and Edge */
  scroll-behavior: smooth;

  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-family: 400;
  color: $color-grey-dark;
  padding: 2rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);

  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    margin-top: 2rem;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;

    animation: moveInRight 1s ease-out;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 2.4rem 4.8rem;
    border-radius: 10rem;

    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--primary {
    background-color: $color-white;
    color: $color-grey-dark;
  }
}
