*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */

  font-size: 62.5%;

  /* Does not work on Safari and Edge */
  scroll-behavior: smooth;

  overflow-x: hidden;
}
